.comments{
    padding-top: 250px;
    padding-left: 58px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.title-social{
    color: rgb(140, 0, 0);
    font-size: x-small;
    justify-content: center;
    text-align: center;
}

.sidebar{
    width: 250px;
    height: 500px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgb(140, 0, 0) ;
    
}
  
 